## Acesso a base globalstore (p√∫blica) no formato csv.

In [6]:
import pandas as pd

In [7]:
globalstore = pd.read_csv('globalstore.csv')
globalstore

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2014-143658,10-02-14,10-06-14,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,...,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.033,Medium
1,2,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.449,Medium
2,3,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.627,Medium
3,4,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.371,Medium
4,5,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,...,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.787,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,51286,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,OFF-AVE-10004570,Office Supplies,Binders,"Avery Binder Covers, Economy",11.07,1,0.0,3.42,1.980,High
51286,51287,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,TEC-LOG-10004419,Technology,Accessories,"Logitech Flash Drive, USB",61.44,2,0.0,18.42,13.020,High
51287,51288,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,OFF-BOS-10002705,Office Supplies,Art,"Boston Highlighters, Fluorescent",80.52,4,0.0,20.88,8.780,High
51288,51289,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,...,OFF-ENE-10004132,Office Supplies,Paper,"Enermax Computer Printout Paper, 8.5 x 11",130.44,4,0.0,33.84,18.970,High
51289,51290,IZ-2011-5750,08-25-11,08-29-11,Standard Class,SZ-10035,Sam Zeldin,Home Office,Baghdad,Baghdad,...,OFF-ACC-10002343,Office Supplies,Binders,"Acco 3-Hole Punch, Durable",31.62,1,0.0,12.96,2.400,Medium

In [4]:
globalstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [8]:
globalstore = globalstore.rename(
    columns = {
        'Row ID': 'items_sequence',
        'Order ID': 'order_number',
        'Order Date': 'order_date',
        'Ship Date': 'ship_date',
        'Ship Mode': 'ship_mode',
        'Customer ID': 'customer_id',
        'Customer Name': 'customer_name',
        'Segment': 'segment',
        'State': 'state',
        'City': 'city',
        'Country': 'country',
        'Postal Code': 'postal_code',
        'Region': 'region',
        'Market': 'market',
        'Product ID': 'product_id',
        'Product Name': 'product_name',
        'Category': 'category',
        'Sub-Category': 'subcategory',
        'Sales': 'sales',
        'Quantity': 'quantity',
        'Profit': 'profit',
        'Discount': 'discount',
        'Shipping Cost': 'shipping_cost',
        'Order Priority': 'order_priority',
    }
)

In [ ]:
globalstore

In [ ]:
globalstore.info()

In [7]:
globalstore['order_date'] = globalstore['order_date'].astype('datetime64[ns]')
globalstore['ship_date'] = globalstore['ship_date'].astype('datetime64[ns]')
globalstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   items_sequence  51290 non-null  int64
 1   order_number    51290 non-null  object
 2   order_date      51290 non-null  datetime64[ns]
 3   ship_date       51290 non-null  datetime64[ns]
 4   ship_mode       51290 non-null  object
 5   customer_id     51290 non-null  object
 6   customer_name   51290 non-null  object
 7   segment         51290 non-null  object
 8   city            51290 non-null  object
 9   state           51290 non-null  object
 10  country         51290 non-null  object
 11  postal_code     9994 non-null   float64
 12  market          51290 non-null  object
 13  region          51290 non-null  object
 14  product_id      51290 non-null  object
 15  category        51290 non-null  object
 16  subcategory     51290 non-null  object
 17  product_name    51290 non-null  object
 18  sales           51290 non-null  float64
 19  quantity        51290 non-null  int64
 20  discount        51290 non-null  float64
 21  profit          51290 non-null  float64
 22  shipping_cost   51290 non-null  float64
 23  order_priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [ ]:
#usar concat no lugar de pd.append
df = pd.concat(
    [
        df,
        objeto
    ]
)

In [11]:
novo = []

for i, row in globalstore[
    ['market', 'segment']
].drop_duplicates().iterrows():
    # same ????
    # novo.append([row['market'], row['segment']])
    novo.insert(len(novo), [row['market'], row['segment']])

novo = pd.DataFrame(novo, columns=['market', 'segment'])
print(novo)

    market      segment
0    LATAM     Consumer
1    LATAM  Home Office
2    LATAM    Corporate
3       EU    Corporate
4       EU     Consumer
5       EU  Home Office
6     APAC  Home Office
7     APAC     Consumer
8     APAC    Corporate
9       US     Consumer
10      US    Corporate
11      US  Home Office
12  Africa    Corporate
13    EMEA     Consumer
14    EMEA  Home Office
15    EMEA    Corporate
16  Africa     Consumer
17  Africa  Home Office
18  Canada     Consumer
19  Canada    Corporate
20  Canada  Home Office

## Pacotes de Acesso:
- Pandas: acesso e maipula√ß√£o de dados
- sqlite3: conexao com banco relacional sqlite

In [3]:
import sqlite3 as sql

## String de conex√£o 
O banco de dados sqlite gera um instancia local. Quando for acesso a um servidor passar a url. Alguns bancos de dados requerem mais par√¢metros para realizar a conex√£o.

In [4]:
conexao = sql.connect('globalstore.db')

## Fun√ß√£o de normaliza√ß√£o - Aplica√ß√£o da terceira forma normal (dependencia transitiva)

A depend√™ncia transitiva ocorre quando um ou mais atributos est√£o diretamente relacionados ao conte√∫do de um atributo, n√£o pertencente a chave prim√°ria (identificador) da tabela

Os par√¢metros informados s√£o:
dataframe: conjunto de dados originais;
colunas: lista de colunas

In [21]:
def normalizacao(dataframe, colunas, apelido):
    if len(colunas) == 1:
        normalizado = [[s, d] for s, d in enumerate(dataframe[colunas[0]].unique())]
        normalizado = pd.DataFrame(
            normalizado,
            columns = [
                apelido+'_sequence',
                'description'
            ]
        )
        dataframe = dataframe.merge(
            normalizado,
            left_on = colunas,
            right_on = 'description',
            how = 'left'
        )
        dataframe = dataframe.drop(
            columns = [colunas, 'description']
        )
    else:
        normalizado = dataframe[colunas].drop_duplicates().reset_index()
        normalizado['index'] = normalizado.index
        normalizado = normalizado.rename(
            columns={'index': apelido+'_sequence'}
        )
        dataframe = dataframe.merge(
            normalizado, 
            right_on=colunas,
            left_on=colunas, 
            how='left'
        )
        for coluna in dataframe.columns:
            if coluna.endswith('_x') or coluna.endswith('_y') or coluna in colunas:
                dataframe = dataframe.drop(columns=coluna)        
    return dataframe, normalizado

In [22]:
items, orders = normalizacao(
    globalstore, 
    [
        'order_number',
        'order_date',
        'ship_date',
        'ship_mode',
        'customer_id',
        'customer_name',
        'segment',
        'city',
        'state',
        'country',
        'postal_code',
        'market',
        'region',
        'order_priority'
    ], 
    'ord', 
)

In [15]:
c = 0
for a,b in orders.iterrows():
    print(a)
    print(type(b))
    c+=1
    if c == 2: break

0
<class 'pandas.core.series.Series'>
1
<class 'pandas.core.series.Series'>

In [23]:
orders

,ord_sequence,order_number,order_date,ship_date,ship_mode,customer_id,customer_name,segment,city,state,country,postal_code,market,region,order_priority
0,0,MX-2014-143658,10-02-14,10-06-14,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,Mexico,NaN,LATAM,North,Medium
1,1,MX-2012-155047,10-15-12,10-20-12,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,NaN,LATAM,South,Medium
2,2,MX-2013-134096,09-27-13,10-01-13,Standard Class,DP-13000,Darren Powers,Consumer,S√£o Paulo,S√£o Paulo,Brazil,NaN,LATAM,South,Medium
3,3,MX-2013-156335,03-05-13,03-12-13,Standard Class,TB-21250,Tim Brockman,Consumer,Managua,Managua,Nicaragua,NaN,LATAM,Central,Medium
4,4,MX-2014-121923,09-24-14,10-01-14,Standard Class,PK-18910,Paul Knutson,Home Office,Managua,Managua,Nicaragua,NaN,LATAM,Central,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25751,25751,TU-2013-7800,08-09-13,08-11-13,Second Class,MY-8295,Muhammed Yedwab,Corporate,Adana,Adana,Turkey,NaN,EMEA,EMEA,Medium
25752,25752,IV-2012-7600,09-21-12,09-24-12,Second Class,TC-11145,Theresa Coyne,Corporate,Bouake,Vallee Du Bandama,Cote d'Ivoire,NaN,Africa,Africa,Medium
25753,25753,RS-2014-4620,08-14-14,08-16-14,Second Class,CR-2625,Corey Roper,Home Office,Astrakhan',Astrakhan',Russia,NaN,EMEA,EMEA,Medium
25754,25754,HU-2012-7730,09-05-12,09-07-12,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,Hungary,NaN,EMEA,EMEA,High
25755,25755,IZ-2011-5750,08-25-11,08-29-11,Standard Class,SZ-10035,Sam Zeldin,Home Office,Baghdad,Baghdad,Iraq,NaN,EMEA,EMEA,Medium

In [24]:
items

,items_sequence,product_id,category,subcategory,product_name,sales,quantity,discount,profit,shipping_cost,ord_sequence
0,1,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.033,0
1,2,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.449,1
2,3,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.627,1
3,4,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.371,1
4,5,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.787,1
...,...,...,...,...,...,...,...,...,...,...,...
51285,51286,OFF-AVE-10004570,Office Supplies,Binders,"Avery Binder Covers, Economy",11.07,1,0.0,3.42,1.980,25754
51286,51287,TEC-LOG-10004419,Technology,Accessories,"Logitech Flash Drive, USB",61.44,2,0.0,18.42,13.020,25754
51287,51288,OFF-BOS-10002705,Office Supplies,Art,"Boston Highlighters, Fluorescent",80.52,4,0.0,20.88,8.780,25754
51288,51289,OFF-ENE-10004132,Office Supplies,Paper,"Enermax Computer Printout Paper, 8.5 x 11",130.44,4,0.0,33.84,18.970,25754
51289,51290,OFF-ACC-10002343,Office Supplies,Binders,"Acco 3-Hole Punch, Durable",31.62,1,0.0,12.96,2.400,25755

Exerc√≠cio:
- Normalizar a tabela items com product;
- Normalizar a tablea product com subcategory;
- Normalizar a tabela subcategory com category;
- Normalizar a tabela orders para client;
- Normalizar a tabela cliente para city;
- Normalizar a tabela city para market;

## Dados em conjuntos para uso durante o processo
recomenda-se formato parquet ou feather.

In [19]:
orders.to_parquet('orders.parquet')

In [21]:
orders = pd.read_parquet('orders.parquet')
orders

,ord_sequence,order_number,order_date,ship_date,ship_mode,customer_id,customer_name,segment,city,state,country,postal_code,market,region,order_priority
0,0,MX-2014-143658,2014-10-02,2014-10-06,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,Mexico,NaN,LATAM,North,Medium
1,1,MX-2012-155047,2012-10-15,2012-10-20,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,NaN,LATAM,South,Medium
2,6,MX-2013-134096,2013-09-27,2013-10-01,Standard Class,DP-13000,Darren Powers,Consumer,S√£o Paulo,S√£o Paulo,Brazil,NaN,LATAM,South,Medium
3,11,MX-2013-156335,2013-03-05,2013-03-12,Standard Class,TB-21250,Tim Brockman,Consumer,Managua,Managua,Nicaragua,NaN,LATAM,Central,Medium
4,13,MX-2014-121923,2014-09-24,2014-10-01,Standard Class,PK-18910,Paul Knutson,Home Office,Managua,Managua,Nicaragua,NaN,LATAM,Central,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25751,51276,TU-2013-7800,2013-08-09,2013-08-11,Second Class,MY-8295,Muhammed Yedwab,Corporate,Adana,Adana,Turkey,NaN,EMEA,EMEA,Medium
25752,51280,IV-2012-7600,2012-09-21,2012-09-24,Second Class,TC-11145,Theresa Coyne,Corporate,Bouake,Vallee Du Bandama,Cote d'Ivoire,NaN,Africa,Africa,Medium
25753,51281,RS-2014-4620,2014-08-14,2014-08-16,Second Class,CR-2625,Corey Roper,Home Office,Astrakhan',Astrakhan',Russia,NaN,EMEA,EMEA,Medium
25754,51284,HU-2012-7730,2012-09-05,2012-09-07,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,Hungary,NaN,EMEA,EMEA,High
25755,51289,IZ-2011-5750,2011-08-25,2011-08-29,Standard Class,SZ-10035,Sam Zeldin,Home Office,Baghdad,Baghdad,Iraq,NaN,EMEA,EMEA,Medium

Atividade: Salvar todas as tabelas no formato parquet

Atividade Extra: 
- remontar a estrutura original com a fun√ß√£o merge
- criar um banco de dados com os dados referentes aos mercados 'LATAM' e 'US'

## Dados para banco de dados relacional

In [22]:
orders.to_sql(
    name='orders',
    con=conexao,
    if_exists='replace'
)

25756

In [ ]:
step = 10000
for linhas in range(0, len(items), step):
    print(linhas)
    items[linhas:linhas+step].to_sql(
        name='items',
        con=conexao,
        if_exists='append'       
    )

## items.to_sql(name='outros_items', con=conexao, if_exists='append', chunksize=10000)

In [ ]:
conexao_normalizada = sql.connect('globalstore_normalizada.db')

In [ ]:
for tabela in ['category', 'subcategory', 'products', 'orders', 'items', 'customer', 'city', 'region']:
    eval(tabela).to_sql(
        tabela,
        con = conexao_normalizada,
        if_exists = 'replace'
    )

Atividade: Salvar as demais tabela no banco de dados relacional

In [ ]:
with conexao:
    data = conexao.execute("select * from items")
    for row in data:
        print(row)

Atividade: 
- Listar os clientes que compraram os produtos da categoria 'Furniture';
- Listar a quantidade de produtos agrupados por pais e cidade;